* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

body {
  font-family: 'rajdhani', sans-serif;
  font-size: 25px;
  background: url(../assets/images/bg-image-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 100%;
  display: flex;
}

.container {
  /* display: flex; */
  padding: 20px 70px;
  color: aliceblue;
}

.current-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.date-container .time {
  font-size: 70px;
  font-weight: 100;
}

.date {
  font-size: 30px;
  font-weight: 100;
}

#current-day {
  font-size: 60px;
  padding-left: 60px;
}

.other {
  display: flex;
  flex-direction: column;
  background: rgba(10, 10, 10, 0.2);
  padding: 20px;
  border-radius: 10px;
  border: 1px solid aliceblue;
  margin: 10px 0px;
}

.weather-items {
  display: flex;
  justify-content: space-between;
}

#userInput {
  padding: 10px 150px;
}

#searchbar {
  padding-left: 500px;
  text-align: center;
}

#search-list {
  background: rgba(74, 74, 82, 0.4);
  list-style-type: none;
}

#submitBtn {
  border-radius: 15px;
  background: rgba(24, 24, 27, 0.4);
  /* display: block; */
  padding: 10px;
  color: aliceblue;
  width: 100%;
  margin: 5px;
}

.future-info {
  display: flex;
  justify-content: center;
  position: fixed;
  background: rgba(10, 10, 10, 0.2);
  border-radius: 10px;
  border: 1px solid aliceblue;
  width: 100%;
  align-items: center;
  bottom: 0;
  color: aliceblue;
  padding-right: 100px;
  /* overflow-y: hidden; */
}

.today {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 80px;
  font-size: 30px;
}

/* #current-day, */
#day {
  padding: 5px 10px;
  border-radius: 50px;
  text-align: center;
  background: gray;
  border: 1px solid aliceblue;
}

.weather-forecast {
  display: flex;
}

.weather-forecast-items {
  padding: 50px;
}