* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

body {
  font-family: 'rajdhani', sans-serif;
  font-size: 25px;
  background: url(../assets/images/bg-image-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 100%;
  display: flex;
}

.container {
  padding: 20px 70px;
  color: aliceblue;
}

.current-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.date-container .time {
  font-size: 70px;
  font-weight: 100;
}

.date {
  font-size: 30px;
  font-weight: 100;
}

.other {
  display: flex;
  flex-direction: column;
  background: rgba(10, 10, 10, 0.2);
  padding: 20px;
  border-radius: 10px;
  border: 1px solid aliceblue;
  margin: 10px 0px;
}

.weather-items {
  display: flex;
  justify-content: space-between;
}

/* .today {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: rgba(10, 10, 10, 0.2);
  padding: 20px;
  border-radius: 10px;
  border: 1px solid aliceblue;
  margin: 10px 0px;
} */

.future-info {
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  background: rgba(10, 10, 10, 0.2);
  padding: 20px;
  border-radius: 10px;
  border: 1px solid aliceblue;
  width: 100%;
  align-items: center;
  bottom: 0;
  /* overflow-y: hidden; */
}

.future-info .today {
  display: flex;
  align-items: center;
  justify-content: center;
}

.future-info .today .day {
  padding: 5px 10px;
  border-radius: 50px;
  text-align: center;
  background: gray
}

.weather-forecast {
  display: flex;
}
